/* .h1 {
    font-family: 'Luckiest Guy', cursive;
  } */

  /* .header {
    padding: 9%;
    text-align: center;
   /* background: #dbb7f3; */
  /*
    color: white;
    font-size: 30px;
  } */
  
  /* .bgColor {
    background: #dbb7f3;
  } */